<div class="grid about-text">
  <div>
    <img
      class="profile-pic"
      src="/lujan-sprite.png"
      alt="A pixel art self-portrait"
    />
  </div>
  <div>
    <h1>Hi, I'm Eric Lujan.</h1>
    <p>
      I'm a robotics engineer living in foggy San Francisco. I build
      behaviour planning and artificial intelligence systems for
      autonomous vehicles at
      <a href="https://getcruise.com/" target="blank">Cruise</a>. Before
      my current gig, I was a student at
      <a href="https://web.mit.edu/" target="blank">MIT</a> majoring in
      Electrical Engineering and Computer Science.
    </p>

    <p>
      I like thinking about software, managing effective teams, urban
      transportation, and being a responsible tenant of our planet. I also
      like coffee, cycling, cooking, comedy, C++, Commonwealth English,
      and (evidently) things beginning with the letter C.
    </p>
  </div>
</div>
<!-- Test comment -->
