<div class="grid about-text">
  <div>
    <img class="profile-pic" src="/lujan-sprite.png" alt="A pixel art self-portrait" />
  </div>
  <div>
    <h1>Hi, I'm Eric Lujan.</h1>
    <p>I'm an engineer living in drizzly Seattle. I build cutting-edge AI-driven simulation and testing technologies at <a href="https://getcruise.com/" target="blank">Cruise</a>, where I also built behaviour planning and robotics software that powered our autonomous vehicles.</p>

    <p>Before my current gig, I was a student at <a href="https://web.mit.edu/" target="blank">MIT</a> majoring in Electrical Engineering and Computer Science. I also spent a summer at the <a href="https://sutd.edu.sg/" target="blank">Singapore University of Technology and Design</a> studying deep learning appplied to natural language processing.</p>

    <p>I like thinking about software, effective teams, transportation and urban planning, and being a responsible tenant of our planet. I also like coffee, cycling, cooking, comedy, creativity, C++, Commonwealth English, and (evidently) things beginning with the letter C.</p>
  </div>
</div>
