<!DOCTYPE html>
<html lang="en">
    <head>
	<title>Eric Lujan</title>
	<link rel="stylesheet" href="/main.css" type="text/css">
    </head>
    <body>
	<div class="top-banner">
	    <div class="content">
		<span>Black lives matter. <a href="https://lujan.io/blm" target="blank">See how you can help.</a></span>
	    </div>
	</div>

	<div class="content">
	    <div class="header">
		<span>Eric Lujan</span>
		<div class="nav">
		    <ul class="social">
			<li><a href="https://twitter.com/ericmlujan" target="blank">Twitter</a></li>
			<li><a href="https://github.com/ericmlujan" target="blank">GitHub</a></li>
			<li><a href="https://linkedin.com/in/ericmlujan" target="blank">LinkedIn</a></li>
			<li><a href="https://angel.co/u/ericmlujan" target="blank">AngelList</a></li>
			<li><a href="https://keybase.io/lujan" target="blank">Keybase</a></li>
		    </ul>
		</div>
	    </div>

	    <div class="grid about-text">
		<div class="profile-pic">
		    <img src="/lujan-sprite.png" alt="A pixel art self-portrait">
		</div>
		<div>
		    <h1>Hi, I'm Eric Lujan.</h1>
		    <p>I'm a robotics engineer living in foggy San Francisco. I build behaviour planning and artificial intelligence systems for autonomous vehicles at <a href="https://getcruise.com/" target="blank">Cruise</a>. Before my current gig, I was a student at <a href="https://web.mit.edu/" target="blank">MIT</a> majoring in Electrical Engineering and Computer Science.</p>

		    <p>I like thinking about software, managing effective teams, urban transportation, and being a responsible tenant of our planet. I also like coffee, cycling, cooking, comedy, C++, Commonwealth English, and (evidently) things beginning with the letter C.</p>
		</div>
	    </div>

	    <div class="footer">
		<span>&copy; 2021 Eric Lujan. All rights reserved.</span>
		<span class="right"><a href="https://github.com/ericmlujan/lujan.io" target="blank">This site is open source.</a></span>
	    </div>
	</div>
    </body>
</html>
