<!DOCTYPE html>
<html lang="en">
<%= common_head %>

<body>
  <div class="top-banner-border">
  <div class="top-banner">
    <div class="content">
      <span
        >Black lives matter.
        <a href="https://lujan.io/blm" target="blank"
          >Learn more about antiracism and racial justice.</span
      >
    </div>
  </div>
    </div>

  <div class="content">
    <div class="header">
      <a href="/" class="sitename">Eric Lujan</a>
      <div class="nav">
        <ul class="social">
          <li><a href="https://github.com/ericmlujan" target="blank">GitHub</a></li>
          <li><a href="https://linkedin.com/in/ericmlujan" target="blank">LinkedIn</a></li>
          <li><a href="/resume" target="blank">Resume</a></li>
          <li><a href="/photography">Photography</a><sup class="new-flag">NEW!</sup></li>
        </ul>
      </div>
    </div>

    <%= page_content %>

    <%= common_footer %>
  </div>
</body>
</html>
