<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eric Lujan - Analog Photography Project</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
    <link rel="stylesheet" href="/photography.css" type="text/css" />
  </head>

<body>
  <div class="photography-content">
    <div class="photography-brand">
      <a href="/"><small>lujan.io</small></a>
      <br />
      <a class="brand" href="/photography">Analog Photography Project</a>
    </div>

    <%= page_content %>
    <%= common_footer %>

  </div>
</body>
</html>

