<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eric Lujan - Analog Photography Project</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
    <link rel="stylesheet" href="/photography.css" type="text/css" />
    <script src="/masonry.pkgd.min.js"></script>
    <script src="/imagesloaded.pkgd.min.js"></script>
  </head>

<body>
  <div class="photography-brand">
    <a href="/"><small>lujan.io</small></a>
    <br />
    <a class="brand" href="/photography">Analog Photography Project</a>
  </div>

  <div class="photography-content">
    <%= page_content %>
    <%= common_footer %>
  </div>
  <script src="/photography.js"></script>
</body>
</html>

